{% extends "app/base.html" %} 
{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <pre class="text-center">
      ___           ___           ___           ___           ___     
     /  /\         /__/\         /  /\         /  /\         /__/|    
    /  /::|        \  \:\       /  /:/_       /  /:/_       |  |:|    
   /  /:/:|         \  \:\     /  /:/ /\     /  /:/ /\      |  |:|    
  /  /:/|:|__   _____\__\:\   /  /:/ /:/_   /  /:/ /:/_   __|  |:|    
 /__/:/ |:| /\ /__/::::::::\ /__/:/ /:/ /\ /__/:/ /:/ /\ /__/\_|:|____
 \__\/  |:|/:/ \  \:\~~\~~\/ \  \:\/:/ /:/ \  \:\/:/ /:/ \  \:\/:::::/
     |  |:/:/   \  \:\  ~~~   \  \::/ /:/   \  \::/ /:/   \  \::/~~~~ 
     |  |::/     \  \:\        \  \:\/:/     \  \:\/:/     \  \:\     
     |  |:/       \  \:\        \  \::/       \  \::/       \  \:\    
     |__|/         \__\/         \__\/         \__\/         \__\/    

        </pre>
    </div>

    
{% endblock content %}
